body {
    background-color: rgba(219, 208, 192, 0.658);
}


h1 {
    color: darkolivegreen;
}

ul {
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: initial;

}

h2 {
    color: rgb(146, 47, 47);
}

p {
    color: midnightblue;
}

